name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: smyf.in

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: SSH and deploy
      run: |
        ssh -o StrictHostKeyChecking=no root@167.235.26.88 << 'EOF'
          cd /var/www/smyf.in/htdocs
          git pull
        EOF

    - name: Cleanup
      if: ${{ always() }}
      uses: rtCamp/action-cleanup@master
